header{
    display: flex;
    background-color: rgb(8, 70, 99);
    width: 100%;
    height: 120px;
}

main{
    background-color: rgb(20, 148, 207);
    width: 100%;
}

h1{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    font-family: Arial, Helvetica, sans-serif;
    
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div{
    width: 100%;
}

.aboutMe{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav{
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-radius: 2px;
}

.navlinks{
    margin: 25px;
    font-size: 20px;
}

.self{
    width: 100%;
}

.selfimg{
    width: 25%;
    height: 40%;
    display: flex;
    margin: auto;
}

section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    border: 5px;
}
.section-1{
    width: 60%;
    display: inline-block;
}

.section-1img{
    width: 100%;
}

.section-2{
    width: 40%;
    display: inline-block;
}